html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

#root {
    height: 100%;
}

#Index header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

#Index h1 {
    font-size: 2.5rem;
    margin-left: 20px;
    color: gray;
}

#Index h1:hover {
    color: black;
}

#Index nav {
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: space-around;
}

#Index .nav-links {
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;
    width: 50px;
}

#Index .current-link {
    color: black;
    font-weight: bold;
}

#Index .nav-links:hover {
    color: rgb(51, 51, 51);
}

#Index .selector {
    display: flex;
    height: 100px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

#Index .selector button {
    background-color: white;
    border: 1px solid gray;
    color: gray;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Index .selector button:hover {
    border: 1.5px solid black;
    color: black;
}

#Index .selector .selected {
    border: 1.5px solid black;
    color: black;
}

#Index .projects {
    width: 75%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#Index .project {
    width: 28%;
    margin-right: 5%;
    margin-top: 30px;
}

#Index .project a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

#Index .project a img {
    width: calc(100% - 2px);
    height: auto;
    border: 1px solid gray;
}

#Index .project a h3 {
    height: 50px;
    width: 100%;
    text-align: center;
    color: gray;
}